:root {
    --global-color-font: white;
    --global-color-font-dark:black;
    --global-background-color: #023e8a;
    --banner-background-color:#142d46;
}

body {
    width: 100%;
    height: 100%;

    color: var(--global-color-font);

    background: url("https://images.unsplash.com/photo-1616248304589-6a3d8d60ad7d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80")no-repeat center  fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}

header {
    background-color: transparent;
}
#nav-bar {
    background-color:var(--banner-background-color) ;
    opacity: 0.9;

    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#logo {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

#header-img {
    width: 25px;
    height: 25px;
}

#logo-text{
    width: 200px;
    margin: 0;
    padding-left: 10px;
    margin-top: 5px;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    list-style-type: none;
    margin-top: 7px;
}

.nav-link {

    margin: 0 10px 0 10px;
    
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    justify-content: center;
}

#title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 50px;
}

#specs, #media, #images, #contact{
    background-color:var(--banner-background-color) ;
    align-self: center;
    width: 80%;
    padding: 20px 20px 20px 20px;
    margin-top: 20px;
}

#specs_gif {
    width: 125px;
    height: 125px;
}

#specs_info {
    display: flex;
    flex-direction: column;
}

#prices_title {
    margin: 20px 0 20px 0;
    text-align: center;
}

.prices_matrix {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    /* display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    
    column-gap: 15px;
    row-gap: 15px; */
}

.prices_matrix .card img{
    width: 300px;
    height: 300px;

}

.prices_matrix .card{
    color: var(--global-color-font-dark);
    margin: 10px;
}

.prices_matrix .card-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul li {
    text-align: center;
}

.prices_matrix button {
    width: 100px;
}

#contact {
    width: 100%;
    padding: 30px 30% 0 30%;
}

@media (min-width: 400px){
    #contact {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #contact form {
        margin-left: 5px;
        margin-right: 5px;
    }

    input {
        width: 100%;
    }
}